<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col h-100">
      <div class="row h-100">
        <div class="col-md-9 h-100 pt-3 pb-3">
          <ng-container *ngIf="chartOptions">
            <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
              [options]="chartOptions" style="width: 100%; height: 100%; display: block;">
            </highcharts-chart>
          </ng-container>
        </div>
        <div class="col-md-3 h-100 pt-3 pb-3">
          <div class="registrants-details h-100">
            Registrants Details
          </div>
        </div>
      </div>
    </div>
  </div>
</div>